.navbar {
    & .call {
        display: none;
    }
}
.navbar-brand img {
    width: 100px;
}

@include media-breakpoint-up(lg) {
    .navbar {
        & .call {
            display: inline-block;
        }
    }
    .navbar-brand img {
        width: 200px;
    }
    
}