.how-works {
  & .col-12:last-child .step {
    margin-bottom: 0;
  }

  & .step {
    margin-bottom: 2rem;

    & .feather {
      width: 3.4rem;
      height: 3.4rem;
    }
    & .w-title {
      margin-top: 1rem;
    }
  }
  
}

@include media-breakpoint-up(md) {
  .how-works {

    & .step {
      margin-bottom: 0;

      & .feather {
        width: 3.4rem;
        height: 3.4rem;
      } 
    }

  }
}
